.album-cover {
    height: 250px;
    width: 250px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

}

#logo {
    text-align: center;
    width: 400px;
    margin: 2%;
    color: black;    
}
#login {
    margin-top: 30px;
    text-decoration: none;    
    color: black;    
}
#register {
    margin-top: 30px;
    text-decoration: none;    
    color: black;    
}
#albums {
    margin-top: 30px;
    text-decoration: none;    
    color: black;    
}
#shopping-cart {
    margin-top: 30px;
    margin-right: 5em;
    text-decoration: none;
    color: black;    
}

nav {
    margin: 1%;
    width: 5em;
}

main {
    display: flex;
    flex-direction: row;
}

.main-body {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.search-bar {
    display: flex;
    justify-content: center;

    padding: 2em;
    padding-top: 2em;
}

.album-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
}

.album-grid {
    display: flex;
    flex-direction: column;
    
    margin: 10px;
    padding: 10px;

    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}

.album-cover {
    margin: 1px;
}
.album-name {
    margin: 1px;
}
.album-artist {
    margin: 1px;
}
.album-year {
    margin: 1px;
}
.album-price {
    margin: 1px;
}

.icon-disc {
    color: black;
}


/* ICON SPINNING ANIMATION */
@-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }


/* BACKGROUND GRADIENT ANIMATION */
body {
	background: linear-gradient(-45deg, #e9af9d, #f75794, #8aa3ac, #23d5ab);
	background-size: 600% 200%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}